<!-- Master record: list of heroes -->
<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let h of heroes" 
        [class.selected]="h === selectedHero"
        (click)="onSelect(h)"> <!-- repeats list item element for each hero, applies the .selected css style when selected hero is the same as "h" and handles clicking on a hero-->
      <span class="badge">{{h.id}}</span> {{h.name}}
    </li>
</ul>

<!-- Detail record: details of a selected hero -->
<div *ngIf="selectedHero"> <!-- removes this whole section when selectedHero is undefined -->

<h2>{{selectedHero.name | uppercase}} Details</h2>
<div><span>id: </span>{{selectedHero.id}}</div>
<div>
  <label>name:
    <input [(ngModel)]="selectedHero.name" placeholder="Enter a name"/>
  </label>
</div>

</div>